html{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

p{
    text-align: center;
    color: white;
    background-color: rgba(24, 23, 24, 0.295);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a{
    text-align: center;
}

small{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 35px;
    color: rgb(174, 76, 204);
    background-color: rgb(14, 13, 14);
}